

* {
    font-family: Courier New;
    user-select: none;
}

.roundedBox {
    box-sizing: border-box;
    border: 2px solid rgba(40, 40, 40, .1);
    border-radius: 5px;
}

body {
    background-image:url(../images/testi3.png);
}

.box {
    box-sizing: border-box;
    display: block;
}

.lightGrey {
    background-color: rgb(246, 246, 246);
}

.center {
    position: fixed;
    top: 50%;
    margin-top: -50px;
    margin-left: -15px;
}

.inline {
    display: inline-block;
}

.noMargin {
    margin-top: 0px;
    margin-bottom: 0px;
}

.normalMargin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bigMargin {
    margin-top: 25px;
    margin-bottom: 25px;
}

.titleText {
    font-size: 2em;
    font-weight: 600;
}

.titleText2 {
    font-size: 1.5em;
    font-weight: bold;
}

.titleText3 {
    font-size: 1em;
    font-weight: bold;
}

.answerBox {
    width: 75%;
}

.questionBox {
    font-size: 1em;
    font-weight: 400;
    user-select: auto !important;
}

.submitButton {
    font-size: 1.25em;
    font-weight: 500;
    width: 50%;
    height: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: rgb(255, 255, 255);
}

td {
    width: 500px;
    height: 100%;
    font-size: 1em;
    text-align: center;
    user-select: none;
}

.noSelect {
    user-select: none;
}

.circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-left: 720px;
    margin-bottom: 5px;
    display: inline-block;
}

.circleText {
    font-size: .75em;
    height: 10px;
    margin-bottom: 5px;
    margin-left: 600px;
    top: 14px;
    display: inline-block;
    position: relative;
}

.circleHolder {
    display: inline-block;
}